<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express</title>
</head>
<body>
  <h1>All Foods</h1>
  <ul>
      <% foods.forEach(function(food) { %>
          <li>
              <%= food.food %>
              - 
              <%= food.delicious ? 'Delicious' : 'Not Delicious' %>
          </li>
      <% }); %>
  </ul>

</body>
</html>